/* CUSTOM SLIDESHOW STYLES */

#Slider-template--20797124903185__22be69e8-d7c5-49d8-9783-332751c48a9f
  .banner__media {
  display: none !important;
}
div.custom-banner-content.slideshow__text-wrapper.banner__content.banner__content--middle-center.page-width
  > div
  h2 {
  font-size: 1.2em !important;
}

div.custom-banner-content.slideshow__text-wrapper.banner__content.banner__content--middle-center.page-width
  > div
  p {
  font-size: 0.9em !important;
}

.custom-slideshow {
  margin: 0 !important;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: visible;
  align-items: flex-start !important;
  gap: 0 !important;
  justify-content: flex-start;

  background-color: #f7f7f7 !important;
}

.custom-banner-content {
  flex-wrap: wrap !important;

  align-items: stretch !important;
  align-content: stretch !important;
  padding: 50px 0px !important;
}

.custom-slide .custom-banner-box {
  height: initial;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  min-width: initial;
  padding: 50px 20px !important;
}
.custom-banner-box {
  align-items: center !important;
}

.custom-slide {
  flex: 1 !important;
  min-width: calc(25% - 1rem) !important;
  max-width: calc(28% - 1rem) !important;
  scroll-snap-align: none center !important;
  visibility: visible !important;

  margin: 10px !important;
}
#Slide-template--20797124903185__22be69e8-d7c5-49d8-9783-332751c48a9f-1 {
  padding-left: 40px !important;
}
#Slide-template--20797124903185__22be69e8-d7c5-49d8-9783-332751c48a9f-10 {
  padding-right: 40px !important;
}

/* Media Queries */

/* Large Screen */
@media screen and (max-width: 1500px) {
  .custom-slide {
    flex: 1 !important;
    min-width: calc(29% - 1rem) !important;
    max-width: calc(30% - 1rem) !important;
    margin: 10px !important;
  }
  .custom-banner-box {
    align-items: center !important;
  }
}
/* Tablet */
@media screen and (max-width: 1122px) {
  .custom-slide {
    min-width: calc(42% - 1rem) !important;
    margin: 10px !important;
  }
  .custom-banner-box {
    align-items: center !important;
  }
}

/* Mobile */
@media screen and (max-width: 749px) {
  .custom-slide {
    min-width: calc(85% - 1rem) !important;
    max-width: calc(88% - 1rem) !important;
    margin: 40px 10px !important;
  }

  div.custom-banner-content.slideshow__text-wrapper.banner__content.banner__content--middle-center.page-width
    > div
    h2 {
    font-size: 1.1em !important;
  }
  .custom-banner-content {
    background-color: white;
    border-radius: 20px;
  }
  #Slide-template--20797124903185__22be69e8-d7c5-49d8-9783-332751c48a9f-1 {
    padding-left: 20px !important;
  }
  #Slide-template--20797124903185__22be69e8-d7c5-49d8-9783-332751c48a9f-10 {
    padding-right: 20px !important;
  }
}

/* END CUSTOM SLIDESHOW STYLES END */

@media screen and (max-width: 749px) {
  .custom-section img {
    content: url("https://stop-oral-care.myshopify.com/cdn/shop/files/Stop_2.png");
  }
  .custom-section .banner__box {
    background-color: initial;
    padding: 10% 20px;
  }
  .custom-section h2 {
    color: #0d3d6f !important;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
  }
  .custom-section p {
    color: #0d3d6f !important;
  }
  .custom-section .button {
    background-color: #0093c1;
    color: white;
  }
}

@media screen and (min-width: 450px) and (max-width: 555px) {
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--middle.grid__item
    > div {
    margin-bottom: -3em;
  }
}

@media screen and (max-width: 749px) {
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div {
    max-width: 85vw;
  }

  .image-with-text__media--medium {
    min-height: 38rem;
    height: 24rem;
    border: 1px solid none;
    border-radius: 20px;
  }

  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    img {
    content: url("https://stop-oral-care.myshopify.com/cdn/shop/files/I_care_for_you_1080_x_700_px.png");
    object-fit: scale-down;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div {
    max-width: 100%;
  }

  .image-with-text__media--medium {
    min-height: 24rem;
    height: 24rem;
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--middle.grid__item
    > div {
    margin-bottom: 0em;
  }
}
