/* HOMEPAGE second IMAGE  BANNER */

/* content container  */

#Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
  > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in {
  max-width: 600px;
  margin: auto;
  overflow-x: hidden;
}
/* title, body text */
#Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
  > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
  > div
  > div.banner__text.rte.body
  > p,
#Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
  > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
  > div
  > h2 {
  color: white;
}

/* body-text */

#Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
  > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
  > div
  > div.banner__text.rte.body
  > p {
  font-size: 1.1em;
  padding: 20px 0px;
}

/* title */
#Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
  > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
  > div
  > h2 {
  font-size: 5rem;
  margin-left: -100px;
  margin-right: -100px;
  overflow-x: hidden;
}

/* button */

#Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
  > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
  > div
  > div.banner__buttons
  > a {
  background-color: #0093c1;
  color: white;
}
/* TABLET */

@media screen and (max-width: 1150px) {
  #Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
    > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
    > div
    > h2 {
    font-size: 4vw;
  }
}

/* MOBILE DEVICE  */

@media screen and (max-width: 749px) {
  #Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
    > div.banner__media.media.scroll-trigger.animate--fade-in
    > img {
    content: url("https://cdn.shopify.com/s/files/1/0821/8558/4913/files/Stop_5.png?v=1694699286");
    background-color: #05284c;
    object-fit: contain;
  }

  /* content container mobile */
  #Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
    > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
    > div {
    background-color: initial;
    padding: 4rem 2rem;
  }
  /* title mobile */
  #Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
    > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
    > div
    > h2 {
    color: #405061;
    font-size: 1.4em;
    letter-spacing: 2px;
    margin-left: 0px;
    margin-right: 0px;
  }
  /* body-text */

  #Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
    > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
    > div
    > div.banner__text.rte.body
    > p {
    color: #4f4f4f;
  }
  #Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
    > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
    > div
    > div.banner__text.rte.body {
    margin-top: 0px;
  }

  /* button mobile */
  #Banner-template--20797124903185__8d9855b4-8ddd-4bf0-b7ed-d4df004a1f43
    > div.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in
    > div
    > div.banner__buttons {
    margin-top: 0px;
  }
}

/* END HOMEPAGE second IMAGE  BANNER END */

/* 3rd IMAGE BANNER */

@media screen and (max-width: 749px) {
  #Banner-template--20797124903185__11caf4bf-1ae9-4c27-a8d8-5df214ea4fdf
    > div.banner__content.banner__content--middle-left.page-width.scroll-trigger.animate--slide-in
    > div
    > h2 {
    color: #405061;
      font-size: 1em;
  }
  #Banner-template--20797124903185__11caf4bf-1ae9-4c27-a8d8-5df214ea4fdf
    > div.banner__content.banner__content--middle-left.page-width.scroll-trigger.animate--slide-in
    > div
    > div.banner__text.rte.body
    > p {
    color: #4f4f4f;
  }
}

/* END 3RD IMAGE BANNER END  */
