/* MULTIROW SECTION  STYLES */
#shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
  > div
  > div
  > div
  > div
  > div.image-with-text__text-item.grid__item
  > div
  > h2 {
  color: #204569;
  font-size: 3em;
}

#shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
  .image-with-text__media-item--middle,
.placeholder .image-with-text {
  margin: auto;
}
#shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
  > div
  > div
  > div
  > div
  > div.image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--middle.grid__item
  > div
  > img {
  object-fit: cover;
  min-height: 100%;
}
@media screen and (min-width: 750px) and (max-width: 1089px) {
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > p {
    font-size: 0.55em;
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--middle.grid__item
    > div
    > img {
    margin: auto;
    object-fit: cover !important;
    max-height: 430px;
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > h2 {
    margin-top: 15px;
    font-size: 1.85em;
    color: #285989;
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > div
    > p {
    font-size: 0.88em;
  }
}

/* END MULTIROW SECTION STYLES END */

/* HOMEPAGE CUSTOM BANNER WITH ROTATING TEXT  */

@media screen and (max-width: 749px) {
  img {
    content: url("https://stop-oral-care.myshopify.com/cdn/shop/files/Products_1080x1080px.png");
  }
}

/* END HOMEPAGE CUSTOM BANNER WITH ROTATING TEXT END */
