#shopify-section-template--20797124903185__22be69e8-d7c5-49d8-9783-332751c48a9f
  .slideshow__controls,
#shopify-section-template--20797124903185__0e7a7f70-a2a5-48d3-a195-f28d8fdb4527
  .slideshow__controls {
  display: none !important;
}

#shopify-section-template--20797124903185__22be69e8-d7c5-49d8-9783-332751c48a9f
  .banner__text,
#Slider-template--20797124903185__0e7a7f70-a2a5-48d3-a195-f28d8fdb4527
  .banner__text {
  margin-top: 1rem;
}

#shopify-section-template--20797124903185__22be69e8-d7c5-49d8-9783-332751c48a9f
  h3,
#shopify-section-template--20797124903185__0e7a7f70-a2a5-48d3-a195-f28d8fdb4527
  h3 {
  font-size: 1.2em !important;
  font-weight: 500;
  color: #204569;
  padding-top: 10px;
  letter-spacing: 1px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#shopify-section-template--20797124903185__22be69e8-d7c5-49d8-9783-332751c48a9f
  p,
#shopify-section-template--20797124903185__0e7a7f70-a2a5-48d3-a195-f28d8fdb4527
  p {
  padding-top: 0;
  margin-top: 5px;
  font-size: 1em;
}

.custom-slide .custom-banner-box {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.02),
    0px 5px 15px rgba(0, 0, 0, 0.01);
}

@media screen and (max-width: 749px) {
  .custom-banner-box .banner__box {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .custom-slide {
    border-radius: 20px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.02),
      0px 5px 15px rgba(0, 0, 0, 0.01);
  }
}

/* HOMEPAGE SECOND SLIDESHOW */

/* slide title */

#shopify-section-template--20797124903185__0e7a7f70-a2a5-48d3-a195-f28d8fdb4527
  h3 {
  padding: 0px 50px;
}

@media screen and (max-width: 840px) {
  #shopify-section-template--20797124903185__0e7a7f70-a2a5-48d3-a195-f28d8fdb4527
    h3 {
    padding: 0px 0px;
  }
}
