/* about page text container */
#ImageWithText--template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4,
#ImageWithText--template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7,
#ImageWithText--template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8 {
  background-color: white;
}
#ImageWithText--template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4,
#ImageWithText--template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7,
#ImageWithText--template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8 {
   box-shadow: 0px 5px 30px -18px rgba(0, 0, 0, 0.33);
}
#ImageWithText--template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4
  h2,
#ImageWithText--template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7
  h2,
#ImageWithText--template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8
  h2 {
  color: #0d3d6f;
}

@media screen and (max-width: 909px) {
  #shopify-section-template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item,
  #shopify-section-template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item,
  #shopify-section-template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item {
    flex-grow: 0.2;
    margin-left: 20px;
  }
}

@media screen and (max-width: 750px) {
  #shopify-section-template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div,
  #shopify-section-template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div,
  #shopify-section-template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div {
    margin-top: -45%;
  }
  #shopify-section-template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item,
  #shopify-section-template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item,
  #shopify-section-template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item {
    margin: auto;
    margin-bottom: 20px;
    padding: 0;
  }
  #ImageWithText--template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4,
  #ImageWithText--template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7,
  #ImageWithText--template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8 {
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px;
  }

  .media > *:not(.zoom):not(.deferred-media__poster-button),
  .media model-viewer {
    top: inherit;
  }

  #shopify-section-template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div
    > img {
    content: url("https://cdn.shopify.com/s/files/1/0821/8558/4913/files/Veronica_Stahl.png?v=1694970645");
    max-width: 100%;
    height: auto;
    bottom: 0;
  }
  #shopify-section-template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div
    > img {
    content: url("https://cdn.shopify.com/s/files/1/0821/8558/4913/files/2_dd9553f4-3c77-4a78-9081-78f4d34f3ad0.png?v=1697451005.png");
    max-width: 100%;
    height: auto;
    bottom: 0;
  }
  #shopify-section-template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div
    > img { 
    content: url("https://cdn.shopify.com/s/files/1/0821/8558/4913/files/1_477f72c6-3086-4774-bed5-a0f27126a71f.png");
    max-width: 100%;
    height: auto;
    bottom: 0;
  }
 
}

