/* HOMEPAGE 1st CAROUSEL TITLE */

/* title  */
#shopify-section-template--20797124903185__31863453-994d-4e53-bf38-ad881e653fe9
  > div
  > div
  > div
  > div
  > h2 {
  color: #405061;
  font-size: 2.6em;
  font-weight: 500;
}
@media screen and (max-width: 749px) {
  #shopify-section-template--20797124903185__31863453-994d-4e53-bf38-ad881e653fe9
    > div
    > div
    > div {
    padding: 0;
  }
  #shopify-section-template--20797124903185__31863453-994d-4e53-bf38-ad881e653fe9
  > div
  > div
  > div
  > div
  > h2 {
    font-size: 1.6em;
  
    font-weight: 600;
  }
}

/* END HOMEPAGE 1st CAROUSEL TITLE END */
