/* HOMEPAGE 1st CAROUSEL TITLE */

/* title  */
#shopify-section-template--20797124903185__31863453-994d-4e53-bf38-ad881e653fe9
  > div
  > div
  > div
  > div
  > h2 {
  color: #0d3d6f;
  font-size: 2.6em;
  font-weight: 500;
}
@media screen and (max-width: 749px) {
  #shopify-section-template--20797124903185__31863453-994d-4e53-bf38-ad881e653fe9
    > div
    > div
    > div {
    padding: 0;
  }
  #shopify-section-template--20797124903185__31863453-994d-4e53-bf38-ad881e653fe9
    > div
    > div
    > div
    > div
    > h2 {
    font-size: 1.6em;

    font-weight: 600;
  }
  /* TOP TEXT ABOUT PAGE MOBILE */

  #shopify-section-template--20969701212433__6571c467-d750-436f-be03-c742801d6c32
    > div
    > div
    > div
    > div
    > h2 {
    font-size: 1.7em;
    text-align: left;
  }

  /* CONTACT PAGE ABOVE FORM  MOBILE */

  #shopify-section-template--20797124444433__457be427-3719-4bad-85aa-e6132b855ff0
    > div
    > div
    > div
    > div
    > div
    > p {
    text-align: left !important;
  }
}

/* END HOMEPAGE 1st CAROUSEL TITLE END */


  /* contact page title cards */
  #shopify-section-template--20797124444433__48ce4bb7-49fa-4601-8a02-7958b34ed5d1
    h3{
      font-size: 2.5rem;
  }
/* CONTACT PAGE RICH TECT HERO */
@media screen and (max-width: 749px) {
  #shopify-section-template--20797124444433__0056e8f8-5756-436e-a605-6dd0b2884c55
    > div
    > div
    > div {
    padding: 0 1rem;
  }

  /* title cards */

  #shopify-section-template--20797124444433__48ce4bb7-49fa-4601-8a02-7958b34ed5d1
    h3{
      font-size: 2rem;
  }
}
