.custom-slide .custom-banner-box {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.02),
    0px 5px 15px rgba(0, 0, 0, 0.01);
}

@media screen and (max-width: 749px) {
  .custom-banner-box .banner__box {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .custom-slide {
    border-radius: 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.02),
    0px 5px 15px rgba(0, 0, 0, 0.01);
}

}
