.accordion .icon-accordion {
  align-self: flex-start;
}

.accordion__content
{padding-top: 20px;
}

#shopify-section-template--20797124903185__11af51ef-07c5-4fbe-bd39-7b3f853b611a
  > div
  > div
  > div
  > div
  > div.collapsible-content__header.scroll-trigger.animate--slide-in
  > h2 {
  color: #0d3d6f;
}

@media screen and (max-width: 990px) {
  #shopify-section-template--20797124903185__11af51ef-07c5-4fbe-bd39-7b3f853b611a
    > div
    > div {
    padding-top: 0;
    padding-bottom: 0;
  }
}
