/* MULTIROW SECTION  STYLES */
#shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
  > div
  > div
  > div
  > div
  > div.image-with-text__text-item.grid__item
  > div
  > h2 {
  color: #204569;
  font-size: 3em;
}

#shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
  .image-with-text__media-item--middle,
.placeholder .image-with-text {
  margin: auto;
}
#shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
  > div
  > div
  > div
  > div
  > div.image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--middle.grid__item
  > div
  > img {
  object-fit: cover;
  min-height: 100%;
}
@media screen and (min-width: 750px) and (max-width: 1089px) {
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > p {
    font-size: 0.55em;
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--middle.grid__item
    > div
    > img {
    margin: auto;
    object-fit: cover !important;
    max-height: 430px;
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > h2 {
    margin-top: 15px;
    font-size: 1.85em;
    color: #285989;
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > div
    > p {
    font-size: 0.88em;
  }
}

/* END MULTIROW SECTION STYLES END */

/* HOMEPAGE CUSTOM BANNER WITH ROTATING TEXT  */

@media screen and (max-width: 749px) {
#Banner-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2 > div.banner__media.media.scroll-trigger.animate--fade-in > img {
    content: url("https://cdn.shopify.com/s/files/1/0821/8558/4913/files/StopOralProducts_1080x1080px.png");
    background-color: red;
    object-fit: contain;
      
  }
 #shopify-section-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2 .banner--mobile-bottom .banner__media  {
 min-height: 415px;
  }
}

/* IMAGE BANNER CUSTOM SECTION */

/* wide screen */

/* #shopify-section-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2
  .content-container {
  max-width: 50%;
}
#rotating-text-placeholder {
  letter-spacing: 3px !important;
  font-weight: 800;
  transition: opacity 1s ease-in-out;
  margin-right: -50px;
}

#Banner-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2 {
  height: 90vh;  
}

#shopify-section-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  margin: auto;
}
 */
/* TABLET SCREEN */
/* @media screen and (min-width: 750px) {
  #shopify-section-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2
    .banner__box {

    width: auto;
    max-width: 45% !important;
  }
}
@media screen and (max-width: 1024px) {
  #shopify-section-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2
    .content-container {
    max-width: 40% !important;

    padding-right: 0;
    padding-left: 0;
  }
}
 */
/* mobile screen  */

/* @media screen and (max-width: 749px) {
  #shopify-section-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2
    .banner__media {
  }

  #Banner-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2
    > div.banner__media.media.scroll-trigger.animate--fade-in
    > img {
    content: url("https://stop-oral-care.myshopify.com/cdn/shop/files/Stop_Oral_Products.png");
    width: 100%;
    min-height: 40vh;
    object-fit: cover;

    margin: auto;
  }
  #shopify-section-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2
    .content-container {
    background-color: initial;
    min-width: 100% !important;
  }
  #rotating-text-placeholder {
    margin: auto;
  }
  #shopify-section-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2
    p,
  .h2 {
    color: #0d3d6f !important;
  }
  #shopify-section-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2.h2 {
    font-size: 1.2em;
    max-width: 300px;
    margin: auto;
  }
  #shopify-section-template--20797124903185__e6b1f0d4-c4b2-4d92-844d-fbe8ee73daa2
    .button--primary {
    background-color: #0093c1;
    color: white;
  }
}
 */

/* END HOMEPAGE CUSTOM BANNER WITH ROTATING TEXT END */
