/* MULTIROW SECTION  STYLES */

/* above title home page about */
#shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
  > div
  > div
  > div
  > div
  > div.image-with-text__text-item.grid__item
  > div
  > p {
  font-size: 1.55rem;
}

/* title about  section  */

#shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
  > div
  > div
  > div
  > div
  > div.image-with-text__text-item.grid__item
  > div
  > h2 {
  color: #285989;
  font-size: 5rem;
}

/* body text about section homepage */

#shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
  > div
  > div
  > div
  > div
  > div.image-with-text__text-item.grid__item
  > div
  > div {
  font-size: 1em;
}
#shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
  .image-with-text__media-item--middle,
.placeholder .image-with-text {
  margin: auto;
}

/* tablet to medium screen  */

@media screen and (min-width: 750px) and (max-width: 1089px) {
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div {
    padding: 0px 3rem;
  }

  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div {
    margin-left: -20px;
  }

  /* tablet above title home page about the witch*/
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > p {
    font-size: 1rem;
  }

  /* title tablet  */
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > h2 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 2.1em;
  }
  /* body text tablet */
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > div {
    margin-top: 10px;
    font-size: 0.9em;
  }

  /* tablet image  */
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--middle.grid__item
    > div
    > img {
    margin: auto;
    padding-right: 10px;
    object-fit: cover !important;
    max-height: 430px;
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  
  
}

@media screen and (max-width: 749px) {
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--middle.grid__item
    > div
    > img {
    content: url("https://cdn.shopify.com/s/files/1/0821/8558/4913/files/I_care_for_you_1080_x_700_px.png?v=1694353526");
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > p {
    font-size: 0.8em;
  }
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div
    > div
    > div
    > div.image-with-text__text-item.grid__item
    > div
    > h2 {
    font-size: 2.5em;
  }
}

/* END MULTIROW SECTION STYLES END */
