/* HOMEPAGE 1st CAROUSEL TITLE */

/* title  */
#shopify-section-template--20797124903185__31863453-994d-4e53-bf38-ad881e653fe9
  > div
  > div
  > div
  > div
  > h2 {
  color:#0D3D6F;
  font-size: 2.6em;
  font-weight: 500;
}
@media screen and (max-width: 749px) {
  #shopify-section-template--20797124903185__31863453-994d-4e53-bf38-ad881e653fe9
    > div
    > div
    > div {
    padding: 0;
  }
  #shopify-section-template--20797124903185__31863453-994d-4e53-bf38-ad881e653fe9
  > div
  > div
  > div
  > div
  > h2 {
    font-size: 1.6em;
  
    font-weight: 600;
  }
/* CONTACT PAGE ABOVE FORM */
     #shopify-section-template--20797124444433__457be427-3719-4bad-85aa-e6132b855ff0
    > div
    > div
    > div
    > div
    > div
    > p {
    text-align: left!important;
  }

  
}

/* END HOMEPAGE 1st CAROUSEL TITLE END */
