/* about page text container */
#ImageWithText--template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4,
#ImageWithText--template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7,
#ImageWithText--template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8 {
  background-color: white;
}
#ImageWithText--template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4,
#shopify-section-template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4
  > div
  > div
  > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
  > div,
#ImageWithText--template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7,
#shopify-section-template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7
  > div
  > div
  > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
  > div,
#ImageWithText--template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8,
#shopify-section-template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8
  > div
  > div
  > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
  > div {
  -webkit-box-shadow: 1px 0px 44px -43px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 1px 0px 44px -43px rgba(0, 0, 0, 0.53);
  box-shadow: 1px 0px 44px -43px rgba(0, 0, 0, 0.53);
}

@media screen and (max-width: 750px) {
  #shopify-section-template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div,
  #shopify-section-template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div,
  #shopify-section-template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div {
    margin-top: -40%;
  }

  .media > *:not(.zoom):not(.deferred-media__poster-button),
  .media model-viewer {
    top: inherit;
  }

  #shopify-section-template--20969701212433__09b701a7-3f07-44f1-a9cf-5cbb8db7d8a4
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div
    > img {
    content: url("https://cdn.shopify.com/s/files/1/0821/8558/4913/files/credentials_3_788d85a3-5810-49ea-8809-d968b86177fd.png?v=1694890936");
    max-width: 100%;
    height: auto;
    bottom: 0;
  }
  #shopify-section-template--20969701212433__c6799cf2-8cb5-475f-9644-364d394364e7
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div
    > img {
    content: url("https://cdn.shopify.com/s/files/1/0821/8558/4913/files/credentials_2_fd431040-0eb8-4f1f-9533-268e26a97e62.png?v=1694890956");
    max-width: 100%;
    height: auto;
    bottom: 0;
  }
  #shopify-section-template--20969701212433__406aec41-5bf2-4ecd-8129-c450ea754fe8
    > div
    > div
    > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item
    > div
    > img {
    content: url("https://cdn.shopify.com/s/files/1/0821/8558/4913/files/credentials_4.png?v=1694890905");
    max-width: 100%;
    height: auto;
    bottom: 0;
  }
}
