@media screen and (max-width: 749px) {
  .custom-section img {
    content: url("https://stop-oral-care.myshopify.com/cdn/shop/files/Stop_2.png");
  }
  .custom-section .banner__box {
    background-color: white;
    padding: 10% 20px;
  }
  .custom-section h2 {
    color: #0d3d6f !important;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
  }
  .custom-section p {
    color: #0d3d6f !important;
  }
  .custom-section .button {
    background-color: #0093c1;
    color: white;
  }
}

@media screen and (max-width: 749px) {
  .image-with-text__media--medium {
    min-height: 38rem;
      height: 24rem;
    border-radius:20px;
}

 

  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div {
    max-width: 85vw;
  }

  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    img {
    content: url("https://stop-oral-care.myshopify.com/cdn/shop/files/I_care_for_you_1080_x_700_px.png");
   object-fit: scale-down;
    margin: auto;
        border-radius: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 450px) {
    .image-with-text__media--medium {
    min-height: 24rem;
       height: 24rem;
}
 
  #shopify-section-template--20797124903185__75e22fe0-d4de-4d38-9e61-a2ea4fe819e8
    > div
    > div {
    max-width: 100%;
  }
}
